<h1 class="text-3xl text-primaryText font-bold underline m-2">
    Hello world!
</h1>

<ng-container *ngIf="!keySet">
    <input #apiKeyInput class="m-2 p-2 bg-secondary rounded-md form-control" type="text" id="apiKey"
        placeholder="API Key" [formControl]="apiKey">
    <button class="m-2 btn bg-[#1e293b] text-secondaryText" (click)="setApiKey(apiKeyInput.value)">Set API Key</button>

    <div *ngIf="apiKey.invalid && (apiKey.dirty)" class="m-4 mt-0 text-red-600">
        <div *ngIf="apiKey.errors?.['required']">
            API Key is required.
        </div>
        <div *ngIf="apiKey.errors?.['minlength']">
            API Key must be at least 4 characters long.
        </div>
        <div *ngIf="apiKey.errors?.['invalidKey']">
            API Key is invalid.
        </div>
    </div>
</ng-container>