<div *ngIf="!keySet">
    <input #apiKeyInput class="m-2 p-2 bg-secondary rounded-md form-control" type="text" id="apiKey"
        placeholder="API Key" [formControl]="apiKeyControl">
    <button class="m-2 btn bg-secondary text-secondaryText" (click)="setApiKey(apiKeyInput.value)">Set API Key</button>

    <div *ngIf="apiKeyControl.invalid && apiKeyControl.dirty" class="m-4 mt-0 text-red-600">
        <div *ngIf="apiKeyControl.errors?.['required']">
            API Key is required.
        </div>
        <div *ngIf="apiKeyControl.errors?.['minlength']">
            API Key must be at least 4 characters long.
        </div>
        <div *ngIf="apiKeyControl.errors?.['invalidKey']">
            API Key is invalid.
        </div>
    </div>
</div>

<app-searchbar></app-searchbar>

<div *ngIf="!artist && keySet">
    <input #artistInput type="text" id="artist" placeholder="Artist"
        class="m-2 p-2 bg-secondary rounded-md form-control text-secondaryText" [formControl]="artistControl">
    <button class="m-2 btn bg-secondary text-secondaryText" (click)="getArtist(artistInput.value)">Get Artist</button>
    <div *ngIf="artistControl.invalid && artistControl.dirty" class="m-4 mt-0 text-red-600">
        <div *ngIf="artistControl.errors?.['required']">
            Artist is required.
        </div>
        <div *ngIf="artistControl.errors?.['invalidArtist']">
            Artist is invalid.
        </div>
    </div>
</div>

<div *ngIf="artist">
    <button class="m-2 btn bg-secondary text-secondaryText" (click)="resetArtist()">Change Artist</button>
    <div *ngFor="let album of artist.albums" class="m-2 p-2 bg-secondary rounded-md">
        <app-album [album]="album" [apiKey]="apiKeyControl.value!"></app-album>
    </div>
</div>